*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background: #628C67;
    color: #FDEBC9;
    overflow: hidden;
    overflow-y: scroll;
}

