.navbar {
    height: 7rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1.5rem 3.5rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    font-family: 'Fraunces', serif;
    background-color: #628C67;

    @media screen and (max-width:720px) {
        height: 4.1rem;
        padding: 1.5rem 1.5rem;
    }
}

.desktopMenu{
    width: 100%;
    display: flex;
    justify-content: end;
}

.logo {
    filter: brightness(120%);
    object-fit: cover;
    width: 5rem;
    height: auto;
    cursor: pointer;

    @media screen and (max-width:720px) {
        width: 3rem;
        height: auto;
    }
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid transparent;
}

.desktopMenuListItem:hover {
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid white;
}

.menuBtn{
    display: none;
    width: 100%;
    justify-content: end;

    @media screen and (max-width:720px) {
        display: flex;
    }
}

.mobMenu{
    display: none;
    object-fit: cover;
}

.navMenu{
    position: absolute;
    top: 4rem;
    right: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: #85b282;
    border-radius: 1rem;
}

.listItem{
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.listItem:hover {
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid white;
}

@media screen and (max-width:720px) {
    .mobMenu{
        display: flex;
    }
    .desktopMenu{
        display: none;
    }
}