#footer {
    width: 100vw;
    margin: 0 auto;
    padding: 0 4.5rem 5rem 0;
    background-color: #85b282;
}

.footerTitle {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Fraunces', serif;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

i {
    color: #fdebc9;
}