#footer {
    width: 100vw;
    margin: 0 auto;
    padding: 0 0 1.5rem 0;
    background-color: #85b282;
}

.footerTitle {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Fraunces', serif;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
}

i {
    color: #fdebc9;
}

a {
    color: #fdebc9;
}

.icon {
    padding-left: 2rem;
}

.footerEnd{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    font-family: 'Fraunces', serif;
}